# Python caches and bytecode
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
build/
dist/

# Virtual Environments
venv/
.venv/
env/
.env

# Project specific files (Do not push local data)
reports/
*.db
.anusint/

# OS and Editor files
.DS_Store
.vscode/
.idea/